{% extends 'base.njk' %}

{% block head %}
<title>{% if title %}{{ title }}{% else %}{{metadata.dc.title}}{% endif %}</title>
<link rel="stylesheet" type="text/css" href="{{EPUBRoot}}/resources/css/page.css"/>
{% endblock %}

{% block content %}
{{ content | safe}}
{% endblock %}
